<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About Author
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      Hello I'm Mateusz
    </ion-card-title>
    <ion-card-subtitle>
      Welcome to my app
    </ion-card-subtitle>
    <ion-item href="https://github.com/Arestmo/">
      <ion-icon name="logo-github"></ion-icon>
      <ion-label>My Github</ion-label>
    </ion-item>
  </ion-card>
</ion-content>