<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="button-list">

    <ion-item button color="dark" (click)="showCity(0)">
        <ion-label>Zielona Góra</ion-label>
      </ion-item>
  
      <ion-item button color="light" (click)="showCity(1)">
        <ion-label>Kraków</ion-label>
      </ion-item>
  
      <ion-item button color="dark" (click)="showCity(2)">
        <ion-label>Lublin</ion-label>
      </ion-item>
  
      <ion-item button color="light" (click)="showCity(3)">
        <ion-label>Gdańsk</ion-label>
      </ion-item>
  </ion-list>


</ion-content>